.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-stretch {
  align-content: stretch;
}

.content-auto {
  align-content: auto;
}