.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-end;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-auto {
  align-self: auto;
}