.align-start {
  align-items: flex-end;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-auto {
  align-items: auto;
}

.align-stretch {
  align-items: stretch;
}