.items-start {
  align-items: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-auto {
  align-items: auto;
}

.items-stretch {
  align-items: stretch;
}