@each $color in $colors {
  @each $size in $colorShades {
    .bg-#{$color}-#{$size} {
      background-color: var(--#{$color}-#{$size});
    }
  }
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #000000;
}
