.bg-left-top {
  background-position: left top;
}

.bg-top {
  background-position: top;
}

.bg-right-top {
  background-position: right top;
}

.bg-left {
  background-position: left;
}

.bg-center {
  background-position: center;
}

.bg-right {
  background-position: right;
}

.bg-left-bottom {
  background-position: left bottom;
}

.bg-bottom {
  background-position: bottom;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-x-left {
  background-position-x: left;
}

.bg-x-center {
  background-position-x: center;
}

.bg-x-right {
  background-position-x: right;
}

.bg-y-top {
  background-position-y: top;
}

.bg-y-center {
  background-position-y: center;
}

.bg-y-right {
  background-position-y: right;
}
