$rounded-sizes: (
  "none": 0px,
  "sm": 2px,
  "": 4px,
  "md": 6px,
  "lg": 8px,
  "xl": 12px,
  "2xl": 16px,
  "3xl": 24px,
  "full": 9999px,
);

$rounded-directions: (
  "": (border-radius),
  "t": (border-top-left-radius, border-top-right-radius),
  "r": (border-top-right-radius, border-bottom-right-radius),
  "b": (border-bottom-left-radius, border-bottom-right-radius),
  "l": (border-top-left-radius, border-bottom-left-radius),
  "tr": (border-top-right-radius),
  "tl": (border-top-left-radius),
  "br": (border-bottom-right-radius),
  "bl": (border-bottom-left-radius),
);

@each $rounded-size,
$radius in $rounded-sizes {

  @each $rounded-direction,
  $properties in $rounded-directions {
    $className: ".rounded";

    @if $rounded-direction !="" {
      $className: #{$className}-#{$rounded-direction};
    }

    @if $rounded-size !="" {
      $className: #{$className}-#{$rounded-size};
    }

    @each $property in $properties {
      #{$className} {
        #{$property}: $radius;
      }
    }
  }
}