@each $color in $colors {
  @each $size in $colorShades {
    .text-#{$color}-#{$size} {
      color: var(--#{$color}-#{$size});
    }
  }
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}
