.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-base {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.text-3xl {
  font-size: 30px;
  line-height: 36px;
}

.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

.text-5xl {
  font-size: 48px;
  line-height: 16px;
}

.text-6xl {
  font-size: 60px;
  line-height: 16px;
}

.text-7xl {
  font-size: 72px;
  line-height: 16px;
}

.text-8xl {
  font-size: 96px;
  line-height: 16px;
}

.text-9xl {
  font-size: 128px;
  line-height: 16px;
}
