.rotate-0 {
    rotate: none;
}

.rotate-1 {
    rotate: 1deg;
}

.rotate-2 {
    rotate: 2deg;
}

.rotate-3 {
    rotate: 3deg;
}

.rotate-6 {
    rotate: 6deg;
}

.rotate-12 {
    rotate: 12deg;
}

.rotate-45 {
    rotate: 45deg;
}

.rotate-90 {
    rotate: 90deg;
}

.rotate-180 {
    rotate: 180deg;
}