.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.text-clip {
  text-overflow: clip;
}


.text-start {
  -unity-text-overflow-position: start;
}

.text-middle {
  -unity-text-overflow-position: middle;
}

.text-end {
  -unity-text-overflow-position: end;
}