$topSizes: (
  "0": 0px,
  "1": 1px,
  "2": 2px,
  "4": 4px,
  "8": 8px,
  "auto": auto,
  "one-fourth": 25%,
  "one-third": 33.333333%,
  "one-half": 50%,
  "two-thirds": 66.66666%,
  "three-fourths": 75%,
  "full": 100%,
);

$positions: (
  "": "top" "bottom" "left" "right",
  "x": "left" "right",
  "y": "top" "bottom",
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

$class-name: null;

@each $size-name, $size-value in $topSizes {
  @each $pos-name, $pos-values in $positions {
    @if length($pos-values) > 1 {
      $class-name: "inset-#{$pos-name}-#{$size-name}";
    } @else {
      $class-name: "#{nth($pos-values, 1)}-#{$size-name}";
    }

    .#{$class-name} {
      @each $pos-value in $pos-values {
        #{$pos-value}: $size-value;
      }
    }
  }
}
