.word-spacing-tighter {
  word-spacing: -0.8px;
}

.word-spacing-tight {
  word-spacing: -0.4px;
}

.word-spacing-normal {
  word-spacing: 0px;
}

.word-spacing-wide {
  word-spacing: 0.4px;
}

.word-spacing-wider {
  word-spacing: 0.8px;
}

.word-spacing-widest {
  word-spacing: 1.6px;
}
